@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display:flex;
  align-items: center;
  margin : 0 auto;
  background-color: #c8ad7f;
  font-family: 'Roboto Slab';
}

.navbar h1 {
  margin-left: 20px;
}

.navbar .liens {
  margin-left: auto;
  margin-right: 20px;

}

.navbar a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
}

.navbar a:hover {
  color: whitesmoke;
}

.navbar img {
  height: 50px;
  margin: 10px;
}

.carousels {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 50px;
}
.carousels-content {
  margin-left: 10px;
  height: 400px;
  width: 500px;
}

.carousels-img {
  width: 500px;
  height: 300px;
}

.home-text {
  margin: auto;
  padding: 10px;
  text-align: justify;
  text-size-adjust: 16px;
  font-weight: 600;
  color: black;
}
.apropos {
  padding: 0 50px 0 50px;
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.aboutUs {
  margin: 0 100px 0 100px;
  text-align: center;
}

.poste, .profile-poste {
  width: 30%;
  height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 5px;
}

.profile-poste {
  cursor: pointer;
}

.poste-title {
  display: flex;
  flex-wrap: nowrap;
  align-items:center;
  padding: 10px;
}

.poste-title img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.poste-title h4 {
  margin-left: 10px;
} 

.poste-content {
  padding: 10px;
  text-align: justify;
}

.lastPost {
  display: flex;
  justify-content: space-around;
}

.AllPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-container {
  padding: 50px;
}

.profile-row {
  display: flex;
  align-items: center;
  justify-content: center;
}


.profile-row > div  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-row > div h3 {
  width: 100%;
  text-align: center;
}
.profile-row img {
  border-radius: 100%;
}

.posteContent  {
  border: 1px solid black;
  width: 730px;
  height: 150px;
  margin-left: 350px;
  padding: 5px;
}

.AddChronique {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.AddChroniqueForm {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}


form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input-title, .input-poste, .input-genre, .input-auteur {
  width: 100%;
}

.input-title, .input-genre, .input-auteur  {
  height: 30px;
}

.input-poste {
  height: 100px;
}

form > div {
  width: 100%;
  margin: 10px;
}

.btn-submit {
  padding: 10px;
  width: 100px;
  text-transform: uppercase;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
}





